html, body, p {
  background-color: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.topbar {
  padding: 10px 16px 10px 16px;
}

.intro {
  min-height: 50%;
  width: 100%;
  position: relative;
  background: linear-gradient(to right,rgba(0,0,0,0.4),rgba(0,0,0,.4)), url(../img/bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro h1 {
  font-family: "Slabo 27px", sans-serif;
  width: 94%;
  color: white;
  font-weight: 400;
  font-size: 34px;
  padding-left: 3%;
  padding-bottom: 20px;

}

.playbutton {
  text-align: center;
}

.playbutton img {
  max-width: 200px;
  display: inline-block;
}

@media(min-width:768px) {
  .intro {
    min-height: 50%;
    background: linear-gradient(to right,rgba(0,0,0,0.6),rgba(0,0,0,0)), url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .intro h1 {
    width: 40%;
    font-size: 4vw;
  }
  .playbutton img {
    max-width: 250px;
  }
}

.container {
  display: block;
}

.about {
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.about-text {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.about-text h2 {
  margin-top: 0;
}

.about-text p {
  padding-bottom: 18px;
}

.side-image img {
  width: 100%;
}

@media(min-width:900px) {
  .about {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
  }
  .about-text {
    width: 50%;
    float: left;
  }
  .side-image img {
    width: 45%;
    padding-left: 5%;
    float: right;
    margin-bottom: 20px;
  }
}
